{% extends 'layouts/default.twig' %}

{% block view %}
    {% if woodlets.getPosts()|length %}
        {% for post in woodlets.getPosts() %}
            <article>
                <header>
                    <h2>
                        <a href="{{ post.guid }}" rel="bookmark">{{ post.title }}</a>
                    </h2>
                </header>

                <div class="entry-content">
                    {{ post.excerpt|raw }}
                </div>

                <footer>
                    <span class="posted-on">
                        <a href="{{ post.guid }}" rel="bookmark">{{ post.date }}</a>
                    </span>
                    <span class="author">
                        {{ post.author_link }}
                    </span>
                </footer>
            </article>
        {% endfor %}
        {{
            woodlets.the_posts_pagination({
                'screen_reader_text': 'posts_navigation_screen_reader_text'|trans('woodlets'),
                'prev_text': 'posts_navigation_previous_page'|trans('woodlets'),
                'next_text': 'posts_navigation_next_page'|trans('woodlets')
            })
        }}
    {% else %}
        {% block noEntries %}
            <h1>{{ "404_title"|trans("woodlets") }}</h1>
            <p>{{ "404_body"|trans("woodlets") }}</p>
        {% endblock %}
    {% endif %}
{% endblock %}
