<!DOCTYPE html>
<html {% block htmlAttributes %}{% endblock %}>
<head>
    {% block head %}
        {{ woodlets.wp_head() }}
        <title>{% block title %}{{ woodlets.the_title() }}{% endblock %}</title>
        {% block baseTag %}
            <base href="{{ woodlets.get_home_url() }}" />
        {% endblock %}
        {% block viewport %}
            <meta name="viewport" content="width=device-width, user-scalable=yes">
        {% endblock %}
        {% block style %}
            <link rel="stylesheet" href="{{ woodlets.get_stylesheet_uri() }}" type="text/css" media="all" />
        {% endblock %}
    {% endblock %}
</head>
<body {{ woodlets.body_class() }}>
{% block body %}
    {% block content %}
        {% block view %}{% endblock %}
    {% endblock %}
    {{ woodlets.wp_footer() }}
{% endblock %}
</body>
</html>
