{% block document %}
<!DOCTYPE html>
{% block htmlTag %}
<html {% block htmlAttributes %}{% endblock %}>
{% block html %}
{% block headTag %}
<head>
    {% block head %}
        {{ woodlets.wp_head() }}
        {% block contentTypeTag %}
            <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        {% endblock %}
        {% block titleTag %}
            <title>{% block title %}{{ woodlets.wp_get_document_title()|raw }}{% endblock %}</title>
        {% endblock %}
        {% block baseTag %}
            <base href="{{ woodlets.get_home_url() }}" />
        {% endblock %}
        {% block viewport %}
            <meta name="viewport" content="width=device-width, user-scalable=yes">
        {% endblock %}
        {% block style %}
            <link rel="stylesheet" href="{{ woodlets.get_stylesheet_uri()|cachebust }}" type="text/css" media="all" />
        {% endblock %}
    {% endblock %}
</head>
{% endblock %}
{% block bodyTag %}
<body {{ woodlets.body_class() }}>
{% block body %}
    {% block layout %}
        {% block content %}
            {% block view %}{% endblock %}
        {% endblock %}
    {% endblock %}
    {% block wpFooter %}
        {{ woodlets.wp_footer() }}
    {% endblock %}
{% endblock %}
</body>
{% endblock %}
{% endblock %}
</html>
{% endblock %}
{% endblock %}
