{% macro nameOrLink(customizer, name) %}
    {% if customizer %}data-customize-setting-link{% else %}name{% endif %}="{{ name }}"
{% endmacro %}
{% import _self as macros %}
{% block field %}
<p>
    <label for="{{ id }}">{{ field.config.label ?: field.name }}
        {% block input %}{% endblock %}
    </label>
</p>
{% endblock %}
{% if useValues is iterable %}
    <input id="{{ id }}_use_value" name="woodlets_page_use_values[]" type="hidden" value="{{ field.name }}" />
    {% if field.config.inherit %}
        <p>
            <label for="{{ id }}_inherit">
                <input id="{{ id }}_inherit" class="inherit-input" name="woodlets_page_inherit[]" type="checkbox" value="{{ field.name }}"{% if field.name not in useValues %} checked="checked"{% endif %} />
                Inherit value
            </label>
        </p>
    {% endif %}
{% endif %}
