{% extends "@woodlets/fieldType.twig" %}
{% import _self as functions %}

{% macro previewField(class, label) %}
    <div class="post-img">
        <label>
            <span>{{ ("location_" ~ label)|trans("woodlets") }}</span>
            <input type="text" disabled="disabled" class="{{ class }}" />
        </label>
    </div>
{% endmacro %}

{% macro overlayContent() %}
    {% import _self as functions %}
    {% spaceless %}
        <div class="neochic-woodlets-location-overlay-content">
            <input class="neochic-woodlets-location-search" type="text"/>
            <input class="neochic-woodlets-location-change-listener-helper-lat" type="hidden" />
            <input class="neochic-woodlets-location-change-listener-helper-lng" type="hidden" />
            <input class="neochic-woodlets-location-overlay-value" type="hidden" />
            <div class="map-pane" style="height:400px;"></div>

            <fieldset>
                <legend>{{ "location_saved_data"|trans("woodlets") }}</legend>
                <div class="neochic_container">
                    <div>
                        {{ functions.previewField("streetName", "street") }}
                        {{ functions.previewField("streetNumber", "street_number") }}
                        {{ functions.previewField("city", "city") }}
                    </div>
                    <div>
                        {{ functions.previewField("zip", "zip") }}
                        {{ functions.previewField("state", "state") }}
                        {{ functions.previewField("country", "country") }}
                    </div>
                </div>
            </fieldset>
            <div class="neochic-woodlets-location-button-container">
                <span class="save button">Save</span>
                <span class="cancel button">Cancel</span>
            </div>
        </div>
    {% endspaceless %}
{% endmacro %}


{% block field %}

    <div class="neochic-woodlets-location-picker"
         data-title="{{ "location_pick_location"|trans("woodlets") }}"
         data-overlay-content="{{ functions.overlayContent()|escape }}"
         data-default-lat="{{ field.config.default.lat }}"
         data-default-lng="{{ field.config.default.lng }}">

        <h4>{{ field.config.label ?: field.name }}</h4>
        <input class="neochic-woodlets-location-value" type="hidden" {{ macros.nameOrLink(customizer, name) }} value="{{ value|maybe_json_encode }}" />
        <div class="preview-container">
            <div><span class="streetName">{{ value.streetName }}</span> <span class="streetNumber">{{ value.streetNumber }}</span></div>
            <div><span class="zip">{{ value.zip }}</span> <span class="city">{{ value.city }}</span></div>
            <div><span class="country">{{ value.country }}</span></div>
            <i>{{ "location_no_location_selected"|trans("woodlets") }}</i>
        </div>
        <button class="neochic-woodlets-location-pick-location button">{{ "location_pick_location"|trans("woodlets") }}</button>
    </div>
{% endblock %}
