{% extends '@woodlets/fieldType.twig' %}

{% block field %}
    <div class="{% block fieldTypeExtraClass %}{{ parent() }}{% endblock %}">
        <p>{{ field.config.label ?: field.name }}</p>
        {% for optionValue, label in field.config.options %}
        <p>
            <label for="{{ id }}_{{ loop.index }}">
                <input id="{{ id }}_{{ loop.index }}" name="{{ name }}" data-customize-setting-link="{{ name }}" type="radio" value="{{ optionValue }}"{% if optionValue == value %} checked="checked"{% endif %} />
                {{ label }}
            </label>
        </p>
        {% endfor %}
    </div>
{% endblock %}
